.appbar {
    background-color: #242523;
    border: solid 1px #343536;
    color: #f5f5f5;
}

.custom-nav-menu {
    padding-top: 15px;
}

    .custom-nav-menu .mud-nav-item .mud-nav-link.active,
    .custom-nav-menu .mud-nav-item .mud-nav-link.active:hover,
    .custom-nav-menu .mud-nav-item .mud-nav-link.active:focus,
    .custom-nav-menu .mud-nav-item .mud-nav-link.active:active {
        background-color: #424242; 
        color: white;
    }

    .custom-nav-menu .mud-nav-link {
        color: white;
    }


.word-wrap {
    word-wrap: break-word;
}

.link-style {
    text-decoration: none;
    color: inherit;
}
